@{
    ViewBag.Title = "KK Games";
}

<div class="jumbotron">
    <h1>KK Games</h1>
    <p class="lead">Добро пожаловать на сайт "KK Games"</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Информация.</h2>
        <p>
            В данный момент сайт находится в разработке.
        </p>
    </div>
</div>